@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
  --catracabloqueada: #ff1e1e7c;
  --btnimportant: #2563eb;
  --background: #1f2937;
  --painel: #6b7280;
  --number: #d9d9d9;
  --texto: #ffffff;
  --btnaction: #111827;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--texto);
}

header {
  padding: 10px;
  margin: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
  --catracabloqueada: #ff1e1e7c;
  --btnimportant: #2563eb;
  --background: #1f2937;
  --painel: #6b7280;
  --number: #d9d9d9;
  --texto: #ffffff;
  --btnaction: #111827;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--texto);
}

main .group{
  max-height: calc(100vh - 180px);
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 16px;
  padding: 10px;
  margin-top: 10px;
}
main {
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  
/* CABEÇALHO - INÍCIO */

header {
  padding: 10px;
  margin: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

h1 {
  font-size: 30px;
  margin: 0;
  margin-left: 20px;
}

p {
  margin-left: -12px;
  margin-top: 22px;
  font-size: 18px;
}
hr {
  border: 0;
  height: 2px;
  background: #6b7280;
  margin: 0 16px;
}



/* CABEÇALHO - FIM */

/* CONTAINER (RESUMO) - INÍCIO */

.container-resumo {
background: var(--painel);
border-radius: 8px;
padding: 16px;
display: flex;
flex-direction: column;
gap: 16px;
box-shadow: 0 4px 6px rgba(0, 0, 30, 0.2);
width: 300px;
height: calc(100vh - 160px);
}

.container-resumo h2 {
  margin: 0;
  font-size: 24px;
  text-align: left;
  border-bottom: 1px solid var(--texto);
  padding-bottom: 8px;
}
.container-resumo .resumo-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.resumo-cards .card {
  background: var(--background);
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 30, 0.2);
}
.resumo-cards .card h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}
.resumo-cards .card p {
  margin: 0;
  width: auto;
  text-align: center;
  background-color: #d9d9d9;
  padding-inline: 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  color: var(--btnaction);
}



